In [22]:
import numpy as np
import pandas as pd

# small change

In [31]:
df = pd.read_excel('~/environments/fp_env/family_promise_data/data/alltime.xlsx')

In [35]:
df.head()

,2.1 Organization Name,2.2 Project Name,2.4 ProjectType,2.5 Utilization Tracking Method (Invalid),2.6 Federal Grant Programs,Enrollment Created By,3.1 FirstName,3.1 LastName,5.8 Personal ID,5.9 Household ID,...,4.2.9g Private Disability Income,4.2.10h Workers Compensation,4.2.11i TANF,4.2.12j General Assistance,4.2.13k Retirement (Social Security),4.2.14l Pension from a Former Job,4.2.15m Child Support,4.2.16n Alimony,4.2.17o Other Income,4.2.18 Total Monthly Income
0,Family Promise of Spokane,FPS--ES--Bridges Family Shelter,Emergency shelter,Entry/Exit (e/e),NaN,Lynnetta Lewis,Liah,Joseph,70401,76771,...,0,0,400,0,0,0,0.0,0,0,400.0
1,Family Promise of Spokane,FPS--ES--Bridges Family Shelter,Emergency shelter,Entry/Exit (e/e),NaN,Lynnetta Lewis,Anju,Laborte,70404,76771,...,0,0,0,0,0,0,0.0,0,0,NaN
2,Family Promise of Spokane,FPS--ES--Bridges Family Shelter,Emergency shelter,Entry/Exit (e/e),NaN,Lynnetta Lewis,Keshawn,Joseph,70645,76771,...,0,0,0,0,0,0,0.0,0,0,NaN
3,Family Promise of Spokane,FPS--ES--Bridges Family Shelter,Emergency shelter,Entry/Exit (e/e),NaN,Lynnetta Lewis,Crystal,Holt,51462,77546,...,0,0,0,0,0,0,0.0,0,0,1920.0
4,Family Promise of Spokane,FPS--ES--Bridges Family Shelter,Emergency shelter,Entry/Exit (e/e),NaN,Lynnetta Lewis,Don,Holt,51463,77546,...,0,0,0,0,0,0,0.0,0,0,NaN

In [36]:
v5 = df[['V5 Prior Address', 'V5 State', 'V5 Zip']].copy()

In [37]:
v5.columns

Index(['V5 Prior Address', 'V5 State', 'V5 Zip'], dtype='object')

v5.head()

In [38]:
v5.head(20)

   V5 Prior Address V5 State  V5 Zip
0               NaN      NaN     NaN
1               NaN      NaN     NaN
2               NaN      NaN     NaN
3               NaN      NaN     NaN
4               NaN      NaN     NaN
5               NaN      NaN     NaN
6               NaN      NaN     NaN
7               NaN      NaN     NaN
8               NaN      NaN     NaN
9               NaN      NaN     NaN
10              NaN      NaN     NaN
11              NaN      NaN     NaN
12              NaN      NaN     NaN
13              NaN      NaN     NaN
14              NaN      NaN     NaN
15              NaN      NaN     NaN
16              NaN      NaN     NaN
17              NaN      NaN     NaN
18              NaN      NaN     NaN
19              NaN      NaN     NaN

In [39]:
v5 = v5.merge(counties, on='V5 Zip')

In [25]:
counties = pd.read_excel('~/environments/fp_env/family_promise_data/data/uszips.xlsx')

In [28]:
counties.county_name.value_counts()

Washington           398
Jefferson            362
Los Angeles          290
Franklin             284
Montgomery           275
                    ...
Ketchikan Gateway      1
ManatÃ­                 1
Sequatchie             1
Hopewell               1
Utuado                 1
Name: county_name, Length: 1906, dtype: int64

In [40]:
v5.head()

,V5 Prior Address,V5 State_x,V5 Zip,V5 City,V5 State_y,county_name
0,1904 CDA ave,ID,83854.0,Post Falls,Idaho,Kootenai
1,1904 CDA ave,ID,83854.0,Post Falls,Idaho,Kootenai
2,2450 W. Compass Loop,ID,83854.0,Post Falls,Idaho,Kootenai
3,2450 W. Compass Loop,ID,83854.0,Post Falls,Idaho,Kootenai
4,410 E Hoffman Ave,WA,99207.0,Spokane,Washington,Spokane

In [41]:
v5.to_excel('~/environments/fp_env/family_promise_data/data/2019zips_n_counties_full5.xlsx')

In [3]:
df = df.drop(columns=['2.1 Organization Name', '2.2 Project Name', '2.4 ProjectType',
                     '2.5 Utilization Tracking Method (Invalid)', 'Enrollment Created By'])

,2.1 Organization Name,2.2 Project Name,2.4 ProjectType,2.5 Utilization Tracking Method (Invalid),2.6 Federal Grant Programs,Enrollment Created By,3.1 FirstName,3.1 LastName,5.8 Personal ID,5.9 Household ID,...,4.2.9g Private Disability Income,4.2.10h Workers Compensation,4.2.11i TANF,4.2.12j General Assistance,4.2.13k Retirement (Social Security),4.2.14l Pension from a Former Job,4.2.15m Child Support,4.2.16n Alimony,4.2.17o Other Income,4.2.18 Total Monthly Income
0,Family Promise of Spokane,FPS--ES--Bridges Family Shelter,Emergency shelter,Entry/Exit (e/e),NaN,Susan Heitstuman,Britney,Estabrooks,84192,107555,...,0,0,0,0,0,0,0.0,0,0,NaN
1,Family Promise of Spokane,FPS--ES--Bridges Family Shelter,Emergency shelter,Entry/Exit (e/e),NaN,Susan Heitstuman,Bentley,Reed,84193,107555,...,0,0,0,0,0,0,0.0,0,0,NaN
2,Family Promise of Spokane,FPS--ES--Bridges Family Shelter,Emergency shelter,Entry/Exit (e/e),NaN,Susan Heitstuman,Kayden,Estabrooks,84195,107555,...,0,0,0,0,0,0,0.0,0,0,NaN
3,Family Promise of Spokane,FPS--ES--Bridges Family Shelter,Emergency shelter,Entry/Exit (e/e),NaN,Cyndi Cater,Jamisha,Smith,86171,107685,...,0,0,0,0,0,0,0.0,0,0,1920.0
4,Family Promise of Spokane,FPS--ES--Bridges Family Shelter,Emergency shelter,Entry/Exit (e/e),NaN,Cyndi Cater,Roberto,Tarin,86172,107685,...,0,0,0,0,0,0,0.0,0,0,NaN

In [7]:
v5.head()

    V5 Prior Address V5 State_x   V5 Zip  V5 City  V5 State_y county_name
0  410 E Hoffman Ave         WA  99207.0  Spokane  Washington     Spokane
1  410 E Hoffman Ave         WA  99207.0  Spokane  Washington     Spokane
2  204 E Indiana Ave         WA  99207.0  Spokane  Washington     Spokane
3  204 E Indiana Ave         WA  99207.0  Spokane  Washington     Spokane
4  204 E Indiana Ave         WA  99207.0  Spokane  Washington     Spokane